<!doctype html>
<html>
<head>
  <style>
    body{
      background-color:yellow;
      
    }
    form {
      font-style: italic;
      font-size: 2em;
    }
  </style>
  <title>Let's play a game...</title>
</head>
<body>

<h1></h1>

<form action="/madlib">
  Provide a random person's name. <input type="text" name="random_name"><br>
  Provide a color. <input type="text" name="color"><br>
  Provide a kitchen utensil. <input type="text" name="kitchen_utensil"><br>
  Provide an adjective. <input type="text" name="adjective"><br>
  <input type="submit">
</form>

</body>
</html>