<!DOCTYPE html>
<html>
<head>
 <title>MadLib Game Output</title>
</head>
<body>
    Hello.<br>
    Congratulations, You Are Still Alive. 
    Most People Are So Ungrateful To Be Alive... But Not You, Not Anymore.<br>
    You have chosen the {{ adjective }} {{ kitchen_utensil }}.<br>
    This will be your weapon against the next player to join. <br>
    You are on team {{ color }} and will go against {{ person }} till the death.<br>
    The Rules Of Our Game Have Been Made Very Clear. You Need To Abide By Those Rules.<br>
    Let the games begin."
</body>
</html>
